In [43]:
import pandas as pd

series = pd.Series([2, 8 , -2, 10])
print(type(series))
print(series)

dictionary = {
  "names" : "Leo",
  "age" : 23
}

# Convert Dictionary -> DataFrame
df = pd.DataFrame(dictionary, index=[0])
print(df)

teams = {
  "names" : ['Leo', 'Jason', 'Jennie'],
  "ages" : [23, 18, 9]
}
print(type(teams)) # <dict>

df2 = pd.DataFrame(teams)
print(df2)
print(type(df2)) #<DataFrame>

<class 'pandas.core.series.Series'>
0     2
1     8
2    -2
3    10
dtype: int64
  names  age
0   Leo   23
<class 'dict'>
    names  ages
0     Leo    23
1   Jason    18
2  Jennie     9
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd


print(df2['names'])
names_series = df2['names']
print(type(names_series)) # <Series>
print(df2['ages'])

df2['gender'] = pd.Series(['M', 'M' , 'F'])
print(df2)

0       Leo
1     Jason
2    Jennie
Name: names, dtype: object
<class 'pandas.core.series.Series'>
0    23
1    18
2     9
Name: ages, dtype: int64
    names  ages gender
0     Leo    23      M
1   Jason    18      M
2  Jennie     9      F

In [45]:
print(df2.info())
print(df2.describe())
print(df2.head()) # first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   3 non-null      object
 1   ages    3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
            ages
count   3.000000
mean   16.666667
std     7.094599
min     9.000000
25%    13.500000
50%    18.000000
75%    20.500000
max    23.000000
    names  ages gender
0     Leo    23      M
1   Jason    18      M
2  Jennie     9      F

In [46]:
# Filtering
print(df2.loc[df2["ages"] < 20])
print(df2["ages"] < 20) # only show true/false 同無名


# contains
df2.loc[df2['names'].str.contains("J")]

# Python (if-else -> and or)
# Dataframe (& |)
print(df2.loc[df2['names'].str.contains("J") | (df2['ages'] > 20)])
print(df2.loc[df2['names'].str.contains("n") & (df2['ages'] > 10)])

print(df2.loc[df2['names'] == 'Jennie'])

    names  ages gender
1   Jason    18      M
2  Jennie     9      F
0    False
1     True
2     True
Name: ages, dtype: bool
    names  ages gender
0     Leo    23      M
1   Jason    18      M
2  Jennie     9      F
   names  ages gender
1  Jason    18      M
    names  ages gender
2  Jennie     9      F

In [ ]:
# call API
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url) #return dataframe
print(type(df))
print(df.head())

df_female_30 = df.loc[(df['Sex'] == 'female') & (df['Age'] > 30) & (df['Name'].str.contains('Lily'))]

print(df_female_30)

<class 'pandas.core.frame.DataFrame'>
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass  \
3              4         1       1
879          880         1       1

                                              Name     Sex   Age  SibSp  \
3     Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
879  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch  Ticket     Fare Cabin Embarked
3        0  113803  53.1000  C123        S
879      1   11767  83.1583   C50        C

In [ ]:
import pandas as pd
url = "https://jsonplaceholder.typicode.com/users"

# lambda (map)
# city = Rescoeview or Howemouth

# -> username (list of string)

df_users = pd.read_json(url)
print(type(df_users)) # DataFrame

filtered_usernames = [x['username'] for x in df_users.to_dict('records') 
                      if x['address']['city'] in ['Roscoeview', 'Howemouth']]
print(filtered_usernames)

<class 'pandas.core.frame.DataFrame'>
['Kamren', 'Elwyn.Skiles']

In [ ]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df3 = pd.read_csv(url)

print(df3["Age"].mean())
print(df3["Age"].max())
print(df3["Age"].min())

result = df3.groupby("Survived")['Age'].mean()
print(result)
print(type(result)) #pandas.core.series.Series

29.69911764705882
80.0
0.42
Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64
<class 'pandas.core.series.Series'>

In [38]:
print(df3['Age'].isnull().any())
print(df3['Name'].isnull().any())

print(df3.columns[df3.isnull().any()])

# ETL (extract transform load)
# clear those person without age

df_drop_na = df3.dropna(subset=['Age'])
print(len(df3))
print(len(df_drop_na))
df_drop_na = df_drop_na.dropna(subset=['Cabin'])
df_drop_na = df_drop_na.dropna(subset=['Embarked'])
print(len(df_drop_na))

True
False
Index(['Age', 'Cabin', 'Embarked'], dtype='object')
891
714
183

In [ ]:
df_for_refill = df3.copy()
df_for_refill["Age"] = df_for_refill['Age'].fillna("N/A")
df_for_refill["Cabin"] = df_for_refill['Cabin'].fillna("N/A")
df_for_refill["Embarked"] = df_for_refill['Embarked'].fillna("N/A")

print(df_for_refill.columns[df_for_refill.isnull().any()])
print(len(df_for_refill))
print(len(df3))

Index([], dtype='object')
891
891

In [44]:
# dataframe to csv
df_for_refill.to_csv('titanic_after_refull.csv')