In [30]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, Integer, String, Date, Float, BigInteger

db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/bootcamp_2508")

metadata = MetaData()

person_schema = Table(
  "persons",
  metadata,
  Column("id", BigInteger, primary_key=True),
  Column("name", String(20), nullable=False),
  Column('age', Integer, nullable=False),
  Column("dob", Date, nullable=False),
  Column("salary", Float, nullable=False),
)

metadata.create_all(db_engine)

df_persons = pd.read_csv("persons_for_db.csv")
print(df_persons.head())

# df(dob, from str to date)
df_persons["dob"] = pd.to_datetime(df_persons["dob"].astype(str), format="%d-%m-%Y").dt.date
print(df_persons.head())

# wirte df to db
df_persons.to_sql("persons", db_engine, if_exists='replace', index=False)

# Read Database by Pandas + SQL
df_sql_result = pd.read_sql("select * from persons where age > 20", con=db_engine)
print(df_sql_result)

   id    name  age         dob   salary
0   1  Steven   13  10-12-2010  18000.0
1   2   Mandy   25  05-06-1999  32000.0
2   3  Kelvin   31  22-03-1993  45000.0
   id    name  age         dob   salary
0   1  Steven   13  2010-12-10  18000.0
1   2   Mandy   25  1999-06-05  32000.0
2   3  Kelvin   31  1993-03-22  45000.0
   id    name  age         dob   salary
0   2   Mandy   25  1999-06-05  32000.0
1   3  Kelvin   31  1993-03-22  45000.0