In [ ]:
# List
names = ["John", "Steven", "John", "Jennie", "Lucas"]
names.append("Leo")
names.remove("John")
print(names)

names.insert(2, "Peter")
print(names)

print(names[:4])

names.sort()
print(names)

pop_result = names.pop(1)
print(pop_result)
print(names)

names.clear()
print(names)

print(len(names))

In [ ]:
list1 = ["apple", "orange"]
list2 = [3, -4, 100]
list3 = list1 + list2
print(list3)

for e in list3:
  print(e)

In [ ]:
# set
ages = {2, 4, 9, -3}
print(type(ages))

ages.add(10)
print(ages)

ages.remove(4)
print(ages)

marksix = {9, 41, 4, 5, 40, 32}
ages.update(marksix) #combine and remove duplicate
print(ages)

set1 = {9, 4, 8}
set2 = {10, 4, 9, 0}
print(set1.intersection(set2)) #only show duplicate
print(set1)
print(set2)

In [1]:
person = {
  "name" : "John",
  "age" : 23,
  "height" : 1.76
}

print(type(person))
print(person['age'])
print(person['height'])
print(person['name'])

for k, v in person.items():
  print(f"key: {k}, value:{v}")

  print(person.keys())
  print(person.values())

<class 'dict'>
23
1.76
John
key: name, value:John
dict_keys(['name', 'age', 'height'])
dict_values(['John', 23, 1.76])
key: age, value:23
dict_keys(['name', 'age', 'height'])
dict_values(['John', 23, 1.76])
key: height, value:1.76
dict_keys(['name', 'age', 'height'])
dict_values(['John', 23, 1.76])

In [16]:
student = {
  12 : "John",
  "age" : 37,
  True : 20
}
print(student[True]) #20
print(student['age']) #37
print(student[12]) #John

student[25] = False
print(student)

student.update({True : "Steven"})
print(student)

student['books'] = ['ABC', 'DEF', 'IJK']
student['phones'] = {1234, 9000, 2222}
print(student)

print(type(student["phones"]))

20
37
John
{12: 'John', 'age': 37, True: 20, 25: False}
{12: 'John', 'age': 37, True: 'Steven', 25: False}
{12: 'John', 'age': 37, True: 'Steven', 25: False, 'books': ['ABC', 'DEF', 'IJK'], 'phones': {9000, 1234, 2222}}
<class 'set'>

In [18]:
members = [
  {
    'name' : "John",
    'age' : 30
  },
  {
    "name" : "Mary",
    "phone" : "852 12345678"
  },
  {
    "name" : "Sally",
    "is_male" : False
  }
]
print(members)

[{'name': 'John', 'age': 30}, {'name': 'Mary', 'phone': '852 12345678'}, {'name': 'Sally', 'is_male': False}]

In [22]:
# [] List
# {} set
# () with : , Dictionary
# () with , tuple

salary = (20000, 25000)
print(type(salary)) # tuple

print(salary[0])
print(salary[1])

amount = (1500)
print(type(amount)) #int

elements = (True, 3, False, 40.9, ['ABC', 'IJK'])
print(elements[4]) # ['ABC', 'IJK']

<class 'tuple'>
20000
25000
<class 'int'>
['ABC', 'IJK']